VITE_APP_NAME=Vanilla
VITE_API_URL=http://localhost:3000
VITE_GATEWAY_URL=ws://localhost:3000/gateway
VITE_INVITE_URL=http://localhost:5173/invite/
NODE_ENV=production
VITE_REGISTRATION_CLOSED=true
VITE_VERBOSE=false