.navbar {
    border-bottom: 1px solid #F2F4F7;
    /*border-bottom: 1px solid #000;*/
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    transition: all .5s;
}
.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    border-radius: 50%;
    margin-right: 20px;
}
.wordmark {
    margin-left: 8px;
    font-weight: 600;
    font-size: 20px;
}
.navbar > a {
    text-decoration: none;
    color: #000;
}
.links {
    display: flex;
    flex-direction: row;
    align-items: center;
}
@media (max-width: 500px) {
    .navbar {
        padding: 0 10px;
    }
}
